{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% block content %}
<h2>Login</h2>
<form action="{{url_for('home')}}" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name" id=""> <br>
    password: <input type="password" name="password" id=""><br>
    <input type="submit" value="Login">
</form>

<h2>File upload</h2>
<form action="{{url_for('file_upload')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="" accept=".xlsx,.xls,text/plain,.txt">
    <input type="submit" value="Upload">
</form>

<h2>Convert to csv</h2>
<form action="{{url_for('convert_csv')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="" accept=".xlsx,.xls">
    <input type="submit" value="Upload">
</form>
<h2>Convert to csv Two</h2>
<form action="{{url_for('convert_csv_two')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="" accept=".xlsx,.xls">
    <input type="submit" value="Upload">
</form>

<!-- images  -->
<h4>Render an image</h4>
<img src="/images/image.png" alt="image">

<!-- sessions and cookies -->
<!-- sessions -->
<h3>Sessions and Cookies</h3>
<p class="text-white fs-3 bg-danger p-2 ">{{message}}</p>
<a href="{{url_for('set_data')}}">set session</a><br>
<a href="{{url_for('get_data')}}">get session</a><br>
<a href="{{url_for('clear_session')}}">clear session</a><br>
<a href="{{url_for('clear_one')}}">clear other</a><br>

<!-- cookies -->
<a href="{{url_for('set_cookie')}}">set cookie</a><br>
<a href="{{url_for('get_cookie')}}">get cookie</a><br>
<a href="{{url_for('remove_cookie')}}">remove cookie</a><br>
<a href="{{url_for('show_cookies')}}">All cookies</a><br>


<h3>Javascript Json request</h3>
<button id="postbtn" class="btn btn-info text-danger fw-bold">send POST request</button>

<script type="text/javascript">
    const postButton = document.getElementById('postbtn')
    const jsondata = { name: "masila", greeting: "Hello" }
    postButton.addEventListener("click", () => {
        fetch("{{url_for('handle_post')}}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify(jsondata)
        }).then(response => response.json())
            .then(data => console.log('success', data))
            .catch((err) => {
                console.error("error", err)
            })
    })
</script>
{% endblock %}